# Environment & Secret files
.env
.env.*
*.env
config.json

# Dependencies
node_modules/
dist/
build/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
.venv/
env/
venv/

# Operating System & IDE
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
